connection test for PH FR

In [5]:
import pyodbc
import pandas as pd


# Database credentials and connection string
server = '18.158.113.163'
database = 'Algo'
username = 'AlgoUser'
password = 'AlgoPw1'

# Define the connection string
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Establish the connection 
try:
    conn = pyodbc.connect(conn_str)
    # print("Connection established successfully.")

    # Create a cursor
    cursor = conn.cursor()

    # Your select query\
    # update_query = "update stores set distributiongroup = 4444 where storeno = 98789"
    # cursor.execute(update_query)
    
    select_query = "SELECT storeno, distributiongroup, OvenSeconds FROM stores"
    cursor.execute(select_query)
    # df_PH_FR = pd.read_sql(select_query, conn)

    
    # Fetching and printing results
    results = cursor.fetchall()
    for row in results:
        print(row)
    


except pyodbc.Error as ex:
    print("Error connecting to the database:", ex)

finally:
    if 'conn' in locals():
        conn.close()
        print("Connection closed.")
        

# df_PH_FR

(12345, '99999', 11112222)
(69, '2', 510)
(8888, '2', 510)
(98789, '2', 11112222)
(999, '2', 510)
Connection closed.

In [4]:
df_PH_FR

   StoreNo  OvenSeconds              StoreName
0    12345     11112222             PH FR Test
1       69          510                Tolbiac
2     8888          510                 POSLAB
3    98789     11112222  Eshel_automation_Test
4      999          510     PHR Lab TEST ESHEL

# Database credentials and connection string
server = '18.158.113.163'
database = 'Algo'
username = 'AlgoUser'
password = 'AlgoPw1'

connection test for PH BAH

In [5]:
import mysql.connector

# # Connection parameters-example
# host_ex = '127.0.0.1'
# port_ex = 1111
# user_ex = 'dba'
# password_ex = '12345'
# database_ex = 'algo'

# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


# Establishing a connection
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Creating a cursor
        cursor = connection.cursor()

        # Example query
        query = "SELECT storeno, ovenseconds FROM stores"
        cursor.execute(query)

        # Fetching and printing results
        results = cursor.fetchall()
        for row in results:
            print(row)

        

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the connection
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed")

Connected to MySQL database 'algo'
(101, 420)
(102, 420)
(103, 420)
Connection closed

try save the query into db

In [17]:
import mysql.connector
import pandas as pd
import pyodbc

# # Connection parameters-example
# host_ex = '127.0.0.1'
# port_ex = 1111
# user_ex = 'dba'
# password_ex = '12345'
# database_ex = 'algo'

# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


# Establishing a connection
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Creating a cursor
        cursor = connection.cursor()

        # # Example query
        query = "SELECT storeno, ovenseconds FROM stores"
        cursor.execute(query)
        df_PH_BAH = pd.DataFrame(cursor.fetchall(), columns=['StoreNo', 'OvenSeconds'])

        # Printing DataFrame
        print(df_PH_BAH)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")
        
df_PH_BAH

Connected to MySQL database 'algo'
   StoreNo  OvenSeconds
0      101          420
1      102          420
2      103          420
Connection closed

   StoreNo  OvenSeconds
0      101          420
1      102          420
2      103          420

dist group for bahamas

In [18]:
import mysql.connector
import pandas as pd
import pyodbc

# # Connection parameters-example
# host_ex = '127.0.0.1'
# port_ex = 1111
# user_ex = 'dba'
# password_ex = '12345'
# database_ex = 'algo'

# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


# Establishing a connection
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Creating a cursor
        cursor = connection.cursor()

        # # Example query
        query = "SELECT storeno, distributiongroup FROM stores"
        cursor.execute(query)
        PH_BAH_DistGroup = pd.DataFrame(cursor.fetchall(), columns=['StoreNo', 'OvenSeconds'])

        # Printing DataFrame
        # print(PH_BAH_DistGroup)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")
        
PH_BAH_DistGroup

Connected to MySQL database 'algo'
Connection closed

   StoreNo OvenSeconds
0      101           4
1      102           5
2      103           4

update query to change dist group

In [23]:
import mysql.connector
import pandas as pd
import pyodbc

# # Connection parameters-example
# host_ex = '127.0.0.1'
# port_ex = 1111
# user_ex = 'dba'
# password_ex = '12345'
# database_ex = 'algo'

# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


# Establishing a connection
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Creating a cursor
        cursor = connection.cursor()

        # # Example query
        update_query = "update stores set distributiongroup = 333 where storeno = 103"
        cursor.execute(update_query)
        query = "SELECT storeno, distributiongroup FROM stores"
        cursor.execute(query)
        PH_BAH_DistGroup = pd.DataFrame(cursor.fetchall(), columns=['StoreNo', 'OvenSeconds'])
       
        # Printing DataFrame
        # print(PH_BAH_DistGroup)
        
        # Example query
        query_2 = "SELECT storeno, distributiongroup FROM stores"
        cursor.execute(query_2)

        # Fetching and printing results
        results = cursor.fetchall()
        for row in results:
            print(row)


except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")
        
PH_BAH_DistGroup

Connected to MySQL database 'algo'
(101, '4')
(102, '5')
(103, '333')
Connection closed

   StoreNo OvenSeconds
0      101           4
1      102           5
2      103         333

In [8]:
import mysql.connector
import pandas as pd


# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


# Establishing a connection
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Creating a cursor
        cursor = connection.cursor()

        # # Example query
        update_query = "update stores set distributiongroup = 999 where storeno = 101"
        cursor.execute(update_query)
        connection.commit()
        query = "SELECT storeno, distributiongroup, OvenSeconds FROM stores"
        cursor.execute(query)
        PH_BAH_DistGroup = pd.DataFrame(cursor.fetchall(), columns=['StoreNo', 'DistributionGroup', 'OvenSeconds'])
       
        # Example query
        query_2 = "SELECT storeno, distributiongroup, OvenSeconds FROM stores"
        cursor.execute(query_2)

        # Fetching and printing results
        results = cursor.fetchall()
        for row in results:
            print(row)


except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")
        
PH_BAH_DistGroup

Connected to MySQL database 'algo'
(101, '999', 420)
(102, '6', 420)
(103, '6', 420)
Connection closed

   StoreNo DistributionGroup  OvenSeconds
0      101               999          420
1      102                 6          420
2      103                 6          420

In [13]:
import mysql.connector
import pandas as pd


# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


# Establishing a connection
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Creating a cursor
        cursor = connection.cursor()

        # # Example query

        query = "SELECT storeno, distributiongroup FROM stores"
        cursor.execute(query)
        PH_BAH_DistGroup = pd.DataFrame(cursor.fetchall(), columns=['StoreNo', 'DistributionGroup', 'OvenSeconds'])


        # Fetching and printing results
        results = cursor.fetchall()
        for row in results:
            print(row)


except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")
        
PH_BAH_DistGroup

def update_stores_distributiongroup(connection, distributiongroup, storeno):
    update_distributiongroup_query = f"UPDATE stores SET distributiongroup = {distributiongroup} WHERE StoreNo = '{storeno}';"
    connection.execute(update_distributiongroup_query)

# Get user inputs:
distributiongroup = int(input("Enter the distributiongroup you want to commit:"))
stores = input("Enter the storeno, separate by comma:").split(',')
    
with mysql.connector(connection) as conn:
    for storeno in stores:
        storeno = storeno.strip()   # Remove leading/trailing whitespaces if any
        # Call the function with the user-provided ovenseconds value
        update_stores_distributiongroup(conn, distributiongroup, storeno)
        conn.commit() 

        # Execute a SELECT query to fetch the updated data
    update_distgroup_example_df = pd.read_sql_query(query, conn)

update_distgroup_example_df

Connected to MySQL database 'algo'
Connection closed

TypeError: 'module' object is not callable

In [2]:
import mysql.connector
import pandas as pd

# Connection parameters-Bahamas
host = '107.23.185.153'
port = 3306
user = 'dba'
password = 'Hj47W7uYsK9!by^pE'
database = 'algo'


def update_stores_distributiongroup(connection, distributiongroup, storeno):
    try:
        cursor = connection.cursor()
        update_distributiongroup_query = f"UPDATE stores SET distributiongroup = {distributiongroup} WHERE StoreNo = '{storeno}';"
        cursor.execute(update_distributiongroup_query)
        connection.commit()
        cursor.close
    except mysql.connector.Error as e:
        print(f"Error updating distribution group for store {storeno}: {e}")

    


# Get user inputs:
distributiongroup = int(input("Enter the distributiongroup you want to commit: "))
stores = input("Enter the storeno, separate by comma: ").split(',')

# Establish a connection to the MySQL database
try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print(f"Connected to MySQL database '{database}'")

        # Loop through the stores and update the distributiongroup
        for storeno in stores:
            storeno = storeno.strip()   # Remove leading/trailing whitespaces if any
            # Call the function with the user-provided distributiongroup value
            update_stores_distributiongroup(connection, distributiongroup, storeno)
            connection.commit() 
            
        query = "SELECT storeno, distributiongroup FROM stores"
        # Execute a SELECT query to fetch the updated data
        updated_data = pd.read_sql_query(query, connection)
        print(updated_data)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Closing the connection
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")

Connected to MySQL database 'algo'

C:\Users\Eshel\AppData\Local\Temp\ipykernel_24024\1677525696.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  updated_data = pd.read_sql_query(query, connection)

   storeno distributiongroup
0      101               999
1      102                 6
2      103                 6
Connection closed